<button id="set-times-btn" [disabled]="timeHasElapsed()" (click)="returnToSetTimes()">< Set Times</button>

<div class="timer centered">
  <span class="heading">Time Elapsed</span>

  <div class="timer-container">
    <div id="timebox">{{time}}</div>
  </div>

  <div class="timer-buttons">
    <button id="start-btn" [disabled]="disableStartButton()" class="start-button" (click)="startTimer()">Start</button>
    <button id="stop-btn" class="stop-button" (click)="stopTimer()">Stop/Reset</button>
  </div>

  <div id="fizzbuzz">{{message}}</div>
</div>
